
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
    background-image: url("img/uni.png"); 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Box */
.login-container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.login-container h1 {
  color: #002147;
  font-size: 24px;
  margin-bottom: 5px;
}

.login-container h2 {
  color: #555;
  font-size: 18px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.input-group input:focus {
  border-color: #0056b3;
  outline: none;
}

/* Button */
.btn {
  width: 100%;
  padding: 10px;
  background: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #003d80;
}

/* Links */
.links {
  margin-top: 15px;
  font-size: 14px;
}

.links a {
  color: #0056b3;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
